<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name="dev.nativekit.isolatedbrowser.IsolatedBrowserBrokerService"
      android:exported="false"
      android:stopWithTask="false" />
    <service
      android:name="dev.nativekit.isolatedbrowser.IsolatedStorageCleanupService"
      android:process=":nativekit_isolated"
      android:exported="false"
      android:stopWithTask="false" />
    <activity
      android:name="dev.nativekit.isolatedbrowser.RemoteBrowserActivity"
      android:process=":nativekit_isolated"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:theme="@style/NativeKitIsolatedBrowserTheme" />
    <activity
      android:name="dev.nativekit.isolatedbrowser.IsolatedBrowserActivity"
      android:process=":nativekit_isolated"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:theme="@style/NativeKitIsolatedBrowserTheme" />
  </application>
</manifest>
